/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('1450088909-8945-jaquette-avant.png');
    background-size: contain;
    background-attachment: fixed;
}
